.version.notification /* version checker */
{
	color: #000018;
	background-color: #F2DF9B;
}

@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u91
{
	z-index: 2;
	min-height: 61px;
	padding-bottom: 9px;
}

#u99
{
	z-index: 3;
	width: 37px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 251px;
}

#u91-bw
{
	z-index: 2;
	min-height: 61px;
}

#u271
{
	z-index: 5;
	height: 760px;
	background-color: #F0F0F0;
}

#u271-bw
{
	z-index: 5;
	margin-top: 140px;
	height: 760px;
}

#u270
{
	z-index: 6;
	width: 540px;
	background-color: #DACA88;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u268-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u266
{
	z-index: 11;
	width: 268px;
	border-width: 1px;
	border-style: solid;
	border-color: #73B3EB;
	background-color: #87CEEB;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 900px;
}

#u265-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#u267
{
	z-index: 16;
	width: 268px;
	border-width: 1px;
	border-style: solid;
	border-color: #73B3EB;
	background-color: #87CEEB;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 900px;
	left: 270px;
}

#u269-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 19px;
}

#accordionu105
{
	z-index: 21;
	width: 361px;
	margin-right: -10000px;
}

#u110
{
	z-index: 22;
	width: 361px;
}

#u113-3
{
	z-index: 23;
	width: 351px;
	min-height: 50px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u113-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 351px;
	margin: 0px;
}

#u113-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 351px;
	margin: 0px;
}

#u113-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	width: 351px;
	margin: 0px;
}

#u111
{
	z-index: 26;
	width: 360px;
	padding-bottom: 35px;
}

#menuu119
{
	z-index: 27;
	width: 360px;
}

#u127
{
	width: 360px;
}

#u128
{
	width: 360px;
	min-height: 24px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u128:hover
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u128:active
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u201
{
	width: 360px;
	min-height: 24px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u128.MuseMenuActive,#u201:hover
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u201:active
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u227
{
	width: 360px;
	min-height: 24px;
	padding-bottom: 43px;
	margin-right: -10000px;
}

#u201.MuseMenuActive,#u227:hover
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u227:active
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u131-4,#u203-4,#u228-4
{
	margin-right: -10000px;
	top: 21px;
}

#u251
{
	width: 360px;
	min-height: 24px;
	padding-bottom: 44px;
	margin-right: -10000px;
}

#u227.MuseMenuActive,#u251:hover
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u251:active
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u200,#u224,#u248,#u274
{
	width: 360px;
	margin-top: 2px;
}

#u275
{
	width: 360px;
	min-height: 24px;
	padding-bottom: 44px;
	margin-right: -10000px;
}

#u251.MuseMenuActive,#u275:hover
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u275:active
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u275.MuseMenuActive
{
	width: 360px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u131-4_clip,#u203-4_clip,#u228-4_clip,#u252-4_clip,#u276-4_clip
{
	width: 360px;
	height: 24px;
}

#u252-4,#u276-4
{
	margin-right: -10000px;
	top: 22px;
}

#u563
{
	z-index: 67;
	width: 320px;
	height: 1px;
	margin-left: 20px;
	margin-top: 418px;
}

#pu282
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 36px;
}

#u282
{
	z-index: 58;
	width: 50px;
	height: 50px;
	margin-right: -10000px;
}

#pu283-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 70px;
}

#u283-4
{
	z-index: 59;
}

#u284-4
{
	z-index: 63;
}

#u582
{
	z-index: 68;
	width: 92px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 770px;
	left: 20px;
}

#u583-4
{
	z-index: 69;
	margin-right: -10000px;
	margin-top: 8px;
	left: 28px;
}

#u584
{
	z-index: 73;
	width: 94px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: 770px;
	left: 131px;
}

#u585-4
{
	z-index: 74;
	margin-right: -10000px;
	margin-top: 9px;
	left: 29px;
}

#u586-4
{
	z-index: 78;
	margin-right: -10000px;
	margin-top: 740px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 540px;
}

